# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Testing and Coverage
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Temp files
Car_Price_Predictor.py
temp/
scratch/

# IDEs
.vscode/
.idea/
*.swp
*.swo
